.homeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 600px;
  padding-right: 40px;
}

.treeContainer {
  width: 100%;
}

.backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: radial-gradient(rgba(150, 150, 150, 0.15), rgba(80, 80, 80, 0.3), rgba(0, 0, 0, 0.45));
}

.hidden {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid gainsboro;
  background: linear-gradient(#fcfcfc, #e5e5e5);
  margin-bottom: 10px;
}

.editor {
  width: 70%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.levelContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

.childrenContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.vertNode {
  border: 2px solid dimgray;
  border-radius: 50%;
  width: 50px;
  height: 35px;
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
}

.highlightedNode {
  @extend .vertNode;
  border: 2px solid red;
  background-color: rgba(193, 66, 66, 0.4);
}

.empty {
  display: none;
}

.logo {
  background-image: url('../assets/BrancherLogo.png');
  background-size: 50px 50px;
  background-position: center center;
  width: 50px;
  height: 50px;
}

.animationSpeedContainer {
  display: inherit;
}

.button_info {
  font-size: 18px;
  padding: 3px;
  color: grey;
}

.delaySpeed {
  font-size: 18px;
  margin-left: 5px;
  padding-top: 5px;
  width: 80px;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
  text-align: center;
  text-shadow: 1px 1px grey;
  color: gainsboro;
}

.molasses {
  @extend .delaySpeed;
  background-color: rgba(0, 1, 130, 0.7);
}

.turtle {
  @extend .delaySpeed;
  background-color: rgba(0, 40, 150, 0.7);
}

.slow {
  @extend .delaySpeed;
  background-color:rgba(0, 80, 175, 0.7); 
}

.normal {
  @extend .delaySpeed;
  background-color: rgba(0, 120, 200, 0.7);
}

.fast {
  @extend .delaySpeed;
  background-color: rgba(0, 160, 225, 0.5);
}

.lightning {
  @extend .delaySpeed;
  background-color: rgba(0, 215, 255, 0.5);
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

button {
  border-radius: 5px;
  border: 2px solid gainsboro;
  padding: 4px;
  min-width: 30px;
  font-size: 18px;
  background-color: white;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  &:hover:enabled {
    border: 2px solid grey;
    @include box-shadow(0, 3px, 4px, rgba(0, 0, 0, 0.2));
  }
  &:hover:disabled {
    cursor: default;
    border: 2px solid gainsboro;
    @include box-shadow(0, 0.5px, 1px, rgba(0, 0, 0, 0.2));
  }
  &:focus {
    outline: 0;
  }
  &:active {
    background-color: slategrey;
  }
}

.darkerButton {
  background: radial-gradient(#3c3f42, #242526);
  border: 2px solid #adadad;
  color: white;
  &:hover:enabled {
    border: 2px solid #474747;
  }
  &:hover:disabled {
    border: 2px solid #adadad;
  }
  &:disabled {
    color: gainsboro;
  }
}

.lighterButton {
  background: radial-gradient(white, #f7f7f7);
  &:hover:enabled {
    border: 2px solid #adadad;
  }
}

.runButton {
  @extend button;
  background: radial-gradient(rgba(50, 150, 150, 0.6), rgba(50, 150, 150, 0.9));
  color: white;
  min-width: 60px;
  &:disabled {
    color: gainsboro;
    background-color: grey;
  }
}

.helpButton {
  @extend .runButton;
  background: radial-gradient(#4e8bed, #2c62ba);
  transition: all 0.5s ease 0s;
}

.highlighted {
  @extend .runButton;
  transition: all 0.5s ease 0s;
  background: radial-gradient(#71a4f7, #4e8bed);
  border: 2px solid grey;
  @include box-shadow(0, 3px, 4px, rgba(0, 0, 0, 0.2));
}

.rightButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}

.userInput input {
  width: 40px;
  height: 25px;
  margin-right: 3px;
  margin-left: 5px;
  font-size: 18px;
  text-align: center;
}

.userInput {
  padding-right: 5px;
}
