.homeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 600px;
  top: 20px;
  padding-right: 40px;
}

.treeContainer {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  margin-right: 40px;
}

.editor {
  width: 70%;
  min-width: 500px;
}

.levelContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

.childrenContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.vertNode {
  border: 2px solid dimgray;
  border-radius: 50%;
  width: 50px;
  height: 35px;
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
}

.highlightedNode {
  @extend .vertNode;
  border: 2px solid red;
  background-color: rgba(193, 66, 66, 0.4);
}

.empty {
  display: none;
}

.button_info {
  font-size: 18px;
  padding: 3px;
  color: grey;
}


@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

button {
  border-radius: 5px;
  border: 2px solid gainsboro;
  padding: 4px;
  min-width: 30px;
  font-size: 18px;
  background-color: white;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  &:hover:enabled {
    border: 2px solid grey;
    @include box-shadow(0, 3px, 4px, rgba(0, 0, 0, 0.2));
  }
  &:hover:disabled {
    cursor: default;
    border: 2px solid gainsboro;
    @include box-shadow(0, 0.5px, 1px, rgba(0, 0, 0, 0.2));
  }
  &:focus {
    outline: 0;
  }
  &:active {
    background-color: slategrey;
  }
}


