.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  min-width: 100px;
  min-height: 150px;
  max-width: 200px;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 5px;
  border: 2px solid #2c62ba;
  background-color: white;
  box-shadow: 2px 2px 3px 4px rgba(0, 0, 0, 0.5);
}

.text {
  padding: 15px 8px 20px 8px;
  min-height: 70px;
  font-size: 18px;
  text-align: center;
  border: 2px solid gainsboro;
  border-radius: 3px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  background: radial-gradient(#4e8bed, #2c62ba);
  padding: 5px;
}
